body {
    padding: 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
}

.container_header {
    background-image: url("../images/photos/veb.head.jpg") no-repeat center-top / cover;
    height: 800px;
    background: rgb(48, 44, 44);
}

.top_text {
    margin-left: 351px;
    font-size: 24px;
    letter-spacing: normal;
}

.menu_burger {
    width: 80px;
    height: 80px;
    background: rgb(86, 87, 84);
    float: right;
}

.header_logo {
    width: 90px;
    height: 50px;
    background: rgb(229, 130, 130);
    float: left;
}

.pus {
    font-size: 72px;
    margin-left: 365px;
}

.studio {
    color: #F57373;
}

.center__text {
    font-size: 36px;
    margin-left: 414px;
}

.content_header {
    font-size: 36px;
    height: 775px;
}

.nav_header_footer {
    height: 62px;
    background: #C4C4C4;
    opacity: 0.2;
}