body {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container_header {
    display: flex;
    align-items: center;
    background: url(../images/photos/veb.head.jpg) no-repeat center top / cover;
    height: 800px;
    justify-content: space-around;
}

.title_text {
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
}

.menu_burger {}

.logo {
    display: flex;
    width: 90px;
    height: auto;
    float: left;
    margin-top: 20px;
    align-self: flex-start;
}

.pus {
    display: flex;
    font-size: 72px;
    text-transform: uppercase;
    z-index: 1;
}

.studio {
    display: flex;
    color: #F57373;
    text-transform: uppercase;
}

.center__text {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    text-transform: uppercase;
}

.content_header {
    display: flex;
    margin: 0 auto 20px;
    font-size: 36px;
    text-transform: uppercase;
}

.nav_header_footer {
    height: 62px;
    width: 100%;
    background: rgb(36, 32, 32);
    opacity: 0.1;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

.nav_header_phone span {
    font-size: 24px;
    text-decoration: underline;
}

nav_header_address {
    width: 245px;
}